@font-face {
    font-family: Inter;
    src: local("Inter"); /*сначала шрифт будет искать в системе, если нет то подгрузит*/
    src: url('./assets/fonts/Inter-Bold.ttf') format("truetype"),
    url('./assets/fonts/Inter-Bold.eot') format("eot"),
    url('./assets/fonts/Inter-Bold.woff2') format("woff2");
    font-weight: bold; /*700*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: local("Inter");
    src: url("assets/fonts/Inter-Medium.ttf") format("truetype"),
    url("assets/fonts/Inter-Medium.eot?") format("eot"),
    url("assets/fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
